<div id="header-top"> 
	<div id="logo">
		<a href="/">Why Liam<span>&nbsp;</span></a>
	</div> 
	<nav> 
		<ul> 
			<li id="nav-portfolio"><a href="http://www.naaln.com" title="View my portfolio" target="_blank">Portfolio</a></li> 
			<li id="nav-facebook"><a href="https://www.facebook.com/liam.naaln" title="Follow me on Facebook" target="_blank">Facebook</a></li> 
			<li id="nav-flickr"><a href="http://blog.naaln.com" title="View hi-res photos on Blog" target="_blank">Blog</a></li> 
			<li id="nav-twitter"><a href="http://weibo.com/210002567/" title="Follow me on weibo" target="_blank">Weibo</a></li> 
		</ul> 
	</nav> 

</div> 
<div id="header-bottom">
	&nbsp;
</div> 