<div id="cboxOverlay" style="opacity: 1; cursor: auto; display: none;"></div>
<div id="colorbox" class="" style="padding-bottom: 20px; padding-right: 0px; display: none; width: 1153px; height: 772px; top: 308px; left: 135px; opacity: 1; cursor: auto;">

  <div id="cboxWrapper" style="height: 792px; width: 1153px;">
    <div style="">
      <div id="cboxTopLeft" style="float: left;"></div>
      <div id="cboxTopCenter" style="float: left; width: 1153px;"></div>
      <div id="cboxTopRight" style="float: left;"></div>
    </div>

    <div style="clear: left;">
      <div id="cboxMiddleLeft" style="float: left; height: 772px;"></div>
      <div id="cboxContent" style="float: left; width: 1153px; height: 772px;">
        <div id="cboxLoadingOverlay" class="" style="height: 772px; display: block;"></div>
        <div id="cboxLoadingGraphic" class="" style="height: 772px; display: block;"></div>
        <div id="cboxTitle" class="" style="display: block;"></div>
        <div id="cboxCurrent" class="" style="display: block;">
        </div>
        <div id="cboxNext" class="" style="display: block;">
          next
        </div>
        <div id="cboxPrevious" class="" style="display: block;">
          previous
        </div>
        <div id="cboxSlideshow" class="" style="display: none;"></div>
        <div id="cboxClose" class="" style="">
          close
        </div>
      </div>
      <div id="cboxMiddleRight" style="float: left; height: 772px;"></div>
    </div>

    <div style="clear: left;">
      <div id="cboxBottomLeft" style="float: left;"></div>
      <div id="cboxBottomCenter" style="float: left; width: 1153px;"></div>
      <div id="cboxBottomRight" style="float: left;"></div>
    </div>
  </div>

  <div style="position: absolute; width: 9999px; visibility: hidden; display: none;"></div>
</div> 
