{% macro input(id, title, subname, article, color, time, location, content, photos, heros) -%} 
<article class="{{article}} {{color}}"> 
        <a name="gallery-{{id}}" ></a>

        <div class="divider-top">
        &nbsp;
        </div> 
        <div class="inner"> 
        <!-- portrait photo --> 
                <div class="hero"> 
                {%for href, src, alt in heros%}
                <a href="{{href}}" rel="gallery-{{id}}" class="cboxElement"><img src="{{src}}" alt="{{alt}}" /></a> 
                {%endfor%} 
                </div> 

                <section> 
                        <header> 
                        <h1><a href="{{time}}/{{subname}}">{{title}}</a></h1> 
                        </header> 

                        <footer> 
                        <time datetime="{{time}}"><a href="#"><span>{{time}}</span></a></time> 
                        <div class="comments-link">
                        <a href="#" title="Comment on Lola">{{location}}</a>
                        </div> 
                        </footer> 

                        <div class="clearfix"></div> 
                        <div class="post"> 
                        <p>
                        {{content}}
                        </p>
                        </div> 
                </section> 
                <!-- /blog --> 
                <div class="clearfix"></div> 

                <div class="divider-bottom">
                &nbsp;
                </div>
        </div> 
</article> 
{%- endmacro %} 