
<div class="divider-top">
	&nbsp;
</div> 
<div class="inner"> 
	<div id="logo-footer">
		<a href="http://photo.naaln.com"><strong>Liam</strong> <span>Why</span> <strong>Photo</strong></a>
	</div> 
	<nav> 
		<div class="menu-footer-nav-container">
			<ul id="menu-footer-nav" class="menu">
				<li id="menu-item-10" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10"><a href="http://www.naaln.com">网站</a></li> 
				<li id="menu-item-12" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12"><a href="http://blog.naaln.com">博客</a></li> 
				<li id="menu-item-13" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13"><a href="http://photo.naaln.com">照片</a></li> 
			</ul>
		</div> 
		<p>&copy; 2013 Why Liam. All Rights Reserved.</p> 
	</nav> 
	<div class="clearfix">
		&nbsp;
	</div> 
</div> 

<script src={{url_for('static', filename='js/jquery.form.min.js')}}></script> 
<script type="text/javascript">
	/* <![CDATA[ */
	var _wpcf7 = {"loaderUrl":"url_for('static', filename='imgs/ajax-loader.gif') }}","sending":"Sending ...","cached":"1"};
	/* ]]> */
</script> 
<script src="{{url_for('static', filename='js/script.js') }}"></script> 
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script> 
<script src="{{url_for('static', filename='js/jquery.masonry.js') }}"></script> 
<script src="{{url_for('static', filename='js/jquery.qtip.js') }}"></script> 
<script src="{{url_for('static', filename='js/jquery.qtip.style.js') }}"></script> 
<script src="{{url_for('static', filename='js/jquery.colorbox.js') }}"></script> 