<article class="content landscape orange full blog"> 
  <div class="divider-top">
    &nbsp;
  </div> 
  <div class="inner">
    <div class="hero"> 
      <a href="http://naalnphoto-static.stor.sinaapp.com/whyliam/whyliam.jpg" rel="gallery-0" class="cboxElement">
        <img src="{{url_for('static', filename='whyliam/whyliam_310x174.jpg')}}" alt="" style="width: 310px;">
      </a>
    </div>
    <section>
      <header> 
        <h1><a href="http://photo.naaln.com">Why · Liam · Photo</a></h1>
      </header>
      <div class="clearfix"></div> 
      <div class="post"> 
        <p>我是李承璋，一个伪极客，喜欢旅行、摄影和编程。</p>
        <p>你们可以去我的主页 <a href="http://www.naaln.com">Why·Liam·Home</a> 了解更多</p> 
        <p>或者是去我的博客 <a href="http://blog.naaln.com">Why·Liam·blog</a> 了解我的近况</p> 
        <p>现在你在 <a href="http://photo.naaln.com">Why·Liam·photo</a> 可以看我的摄影作品</p> 
      </div>
    </section>
    <div class="clearfix"></div> 
  </div>
  <div class="divider-bottom">
    &nbsp;
  </div> 
</article>
