/* @group reset
================================================================================= */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

:focus {
	outline: 0;
}

/* @end */

/* @group structure
================================================================================= */

body {
	font: 62.5% "Arial", Verdana, sans-serif;
	background: url('../imgs/bg.jpg') repeat 0 0;
	color: #333;
}

/* @end */

/* @group fonts
================================================================================= */

@font-face {
	font-family: 'BlackJack';
	src: url('../fonts/blackjack.eot');
	src: url('../fonts/blackjack.eot?iefix') format('eot'), url('../fonts/blackjack.woff') format('woff'), url('../fonts/blackjack.ttf') format('truetype'), url('../fonts/blackjack.svg#webfontVZcfyX7f') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ComfortaaThin';
	src: url('../fonts/comfortaa-thin.eot');
	src: url('../fonts/comfortaa-thin.eot?iefix') format('eot'), url('../fonts/comfortaa-thin.woff') format('woff'), url('../fonts/comfortaa-thin.ttf') format('truetype'), url('../fonts/comfortaa-thin.svg#webfontPRjOry6B') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* @end */

/* @group header
================================================================================= */

header[role="banner"] {
	width: 960px;
	height: 100%;
	margin: 0 auto;
}

#header-top {
	position: fixed;
	width: 960px;
	height: 710px;
	top: 0;
	margin-left: 780px;
	background: url('../imgs/header-top.png') no-repeat 0 0;
	z-index: 999;
}

#header-bottom {
	position: fixed;
	width: 960px;
	height: 100%;
	top: 610px;
	margin-left: 780px;
	background: url('../imgs/header-bg.png') no-repeat 0 0;
	z-index: 1;
}

header[role="banner"] nav {
	position: absolute;
	top: 420px;
	left: 50px;
	width: 130px;
	height: 16px;
}

header[role="banner"] nav li {
	float: left;
	display: inline;
	width: 22px;
	height: 16px;
	margin-right: 14px;
	overflow: hidden;
}

header[role="banner"] nav li a {
	float: left;
	display: block;
	width: 22px;
	height: 0;
	padding-top: 16px;
}

header[role="banner"] nav li#nav-twitter {
	margin-right: 0;
}

#logo {
	width: 130px;
	height: 355px;
	margin: 40px 0 0 50px;
	overflow: hidden;
}

#logo a {
	display: block;
	width: 355px;
	height: 0;
	padding-top: 355px;
}

#ad {
	position: absolute;
	top: 460px;
	left: 50px;
	width: 180px;
	z-index: 999;
}

body .one .bsa_it_ad {
	background: transparent;
	border: none;
	font-family: inherit;
	padding: 0;
	margin: 0;
	text-align: left;
	text-shadow: 0 1px 1px #fff;
}

body .one .bsa_it_ad:hover img {
	-moz-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

body .one .bsa_it_ad:hover img {
	-moz-box-shadow: 0 1px 5px #666;
	-webkit-box-shadow: 0 1px 5px #666;
	box-shadow: 0 1px 5px #666;
}

body .one .bsa_it_ad .bsa_it_i {
	display: block;
	padding: 0;
	float: none;
	margin: 0 0 5px;
}

body .one .bsa_it_ad .bsa_it_i img {
	padding: 0;
	border: none;
}

body .one .bsa_it_ad .bsa_it_t {
	padding: 5px 0;
	font-size: 13px;
	color: #4a4946;
}

body .one .bsa_it_ad .bsa_it_d {
	padding: 0;
	font-size: 12px;
	color: #625e5b;
}

body .one .bsa_it_p {
	display: none;
}

body #bsap_aplink,
body #bsap_aplink:hover {
	display: block;
	font-size: 11px;
	margin: 5px 0 0;
	text-align: left;
}

body #bsap_aplink {
	text-decoration: none;
	color: #96928d;
}

body #bsap_aplink:hover {
	text-decoration: underline;
	color: #4a4946;
}

/* @end */

/* @group posts
================================================================================= */

#wrapper {
	text-align: center;
}

article,
.archive-post {
	background: url('../imgs/pattern.png') repeat 0 0;
}

article .inner, footer .inner {
	width: 744px;
	margin: 0 auto;
	padding: 40px 216px 0 0;
	text-align: left;
}

article img {
	display: block;
	-moz-box-shadow: 0 1px 5px #666; 
	-webkit-box-shadow: 0 1px 5px #666; 
	box-shadow: 0 1px 5px #666; 
	-moz-transition: background 0.2s ease-in; 
	-webkit-transition: background 0.2s ease-in; 
	transition: background 0.2s ease-in; 
}

article img:hover,
.archive-post:hover {
	-moz-box-shadow: 0 1px 7px #333; 
	-webkit-box-shadow: 0 1px 7px #333; 
	box-shadow: 0 1px 7px #333; 
}

.single .hero {
	clear: both;
}

article .hero img, article .images img {
	padding: 10px;
}

article .images a {
	float: none;
	display: block;
	margin-bottom: 40px;
}

article .thumbnails img,
.archive-post img {
	padding: 5px;
}

.archive-post img {
	margin-bottom: 10px;
}

article.landscape .hero {
	clear: both;
	margin-bottom: 20px;
}

.single article.landscape .hero {
	margin-bottom: 40px;
}

article.landscape.blog .hero {
	float: left;
	display: inline;
	margin: 0 0 40px 0;
}

article.landscape .thumbnails {
	float: left;
	display: inline;
	width: 352px;
	margin-bottom: 20px;
}

article.landscape .thumbnails .thumbnail {
	float: left;
	display: inline;
	margin: 0 0 20px 0;
}

article.landscape.full .thumbnails .thumbnail, article.portrait.full .thumbnails .thumbnail {
	float: left;
	display: inline;
	margin: 0 0 20px;
}

article.landscape section {
	float: left;
	display: inline;
	width: 382px;
	margin-bottom: 15px;
}

article.landscape.blog section, article.landscape.full.blog section {
	float: right;
	display: inline;
	width: 392px;
	margin: 0 0 15px;
}

article.landscape.full section {
	float: left;
	display: inline;
	width: 724px;
	margin: 0 10px 15px;
}

.single article.full section,
.page article.full section {
	width: 744px;
	margin: 0 0 15px;
}

article.landscape.full.blog section {
	width: 384px;
}

article.portrait .hero {
	float: left;
	display: inline;
	width: 460px;
	margin-bottom: 40px;
}

article.portrait.blog .hero {
	width: auto;
}

article.portrait .thumbnails {
	width: 156px;
	margin-bottom: 20px;
}

article.portrait .thumbnails .thumbnail {
	margin-bottom: 30px;
}

article.portrait .thumbnails.full {
	clear: both;
	float: left;
	width: 784px;
	margin: -10px 0 10px;
}

article .thumbnails img {
	max-width: 100%;
	height: auto;
}

article.portrait section {
	float: right;
	display: inline;
	width: 252px;
	margin-right: 10px;
	margin-bottom: 15px;
}

article.portrait.blog section {
	width: 384px;
	margin-right: 0;
}

article section header {
	margin-bottom: 10px;
}

article section footer {
	float: left;
	width: 100%;
	margin-bottom: 15px;
	padding-top: 12px;
	background: url('../imgs/divider-dashed.png') repeat-x 0 0;
	-moz-opacity: .70; 
	opacity: .70; 
}

.ie7 article section footer {
	padding-top: 17px;
	background: transparent;
}

article section footer time {
	float: left;
	display: inline;
	margin-right: 10px;
	padding: 2px 0 2px 22px;
	background: url('../imgs/icon-time.png') no-repeat 0 0;
}

article section footer .comments-link {
	float: left;
	display: inline;
	padding: 2px 0 2px 22px;
	background: url('../imgs/icon-comments.png') no-repeat 0 0;
}

article section footer time span, article section footer .comments-link, article .tags {
	font: 1.3em/1em Comfortaa, Arial, Helvetica, Geneva, sans-serif;
}

article .tags {
	float: left;
	width: 100%;
	margin: 0 0 30px;
	padding-top: 12px;
	background: url('../imgs/divider-dashed.png') repeat-x 0 0;
}

article section.question .tags, article section.quote .tags {
	margin: -5px 0 15px;
}

article .tags a {
	float: left;
	display: inline;
	margin: 0 15px 0 0;
	padding: 0 0 2px 22px;
	font-size: 1.1em;
	line-height: 1.6em;
	background: url('../imgs/icon-tag.png') no-repeat 0 0;
}

article .post {
	margin-top: -5px;
	padding-top: 12px;
	background: url('../imgs/divider-dashed.png') repeat-x 0 0;
}

.page article .post {
	padding-top: 28px;
}

article .thumbnails.full {
	clear: both;
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.divider-top,
.divider-bottom {
	width: 100%;
	height: 1px;
}

.divider-top {
	background: url('../imgs/divider.png') repeat-x 0 -1px;
}

.divider-bottom {
	background: url('../imgs/divider.png') repeat-x 0 0;
}

.promote {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.promote-twitter {
	float: left;
	display: inline;
	width: 110px;
}

article,
.archive-post {
	text-shadow: 0 1px 1px #d5d2cd;
	background-color: #dad3ca;
}

article img, article .wp-caption {
	background: #efedea;
}

article img:hover,
.archive-post img:hover {
	background: #dad3ca;
}

article.blue,
.archive-post.blue {
	text-shadow: 0 1px 1px #c9cdce;
	background-color: #c7cfd1;
}

article.blue img, article.blue .wp-caption {
	background: #f2f8f9;
}

article.blue img:hover,
.archive-post.blue img:hover {
	background: #c7cfd1;
}

article.brown,
.archive-post.brown {
	text-shadow: 0 1px 1px #f0e9df;
	background-color: #d3c6b6;
}

article.brown img, article.brown .wp-caption {
	background: #f0e9df;
}

article.brown img:hover,
.archive-post.brown img:hover {
	background: #d3c6b6;
}

article.green,
.archive-post.green {
	text-shadow: 0 1px 1px #eef1e6;
	background-color: #d7dec0;
}

article.green img, article.green .wp-caption {
	background: #eef1e6;
}

article.green img:hover,
.archive-post.green img:hover {
	background: #d7dec0;
}

article.orange,
.archive-post.orange {
	text-shadow: 0 1px 1px #ded1c6;
	background-color: #e3c3a9;
}

article.orange img, article.orange .wp-caption {
	background: #ede6dd;
}

article.orange img:hover,
.archive-post.orange img:hover {
	background: #e3c3a9;
}

article.pink,
.archive-post.pink {
	text-shadow: 0 1px 1px #dbc1bf;
	background-color: #e7b2ae;
}

article.pink img, article.pink .wp-caption {
	background: #f8f2f1;
}

article.pink img:hover,
.archive-post.pink img:hover {
	background: #e7b2ae;
}

article.purple,
.archive-post.purple {
	text-shadow: 0 1px 1px #d4cbcc;
	background-color: #ddcccd;
}

article.purple img, article.purple .wp-caption {
	background: #f8f2f1;
}

article.purple img:hover,
.archive-post.purple img:hover {
	background: #ddcccd;
}

article.yellow,
.archive-post.yellow {
	text-shadow: 0 1px 1px #fffceb;
	background-color: #fff4d4;
}

article.yellow img, article.yellow .wp-caption {
	background: #fffceb;
}

article.yellow img:hover,
.archive-post.yellow img:hover {
	background: #fff4d4;
}

#archive-tags {
	float: left;
	display: inline;
	width: 450px;
}

#archive-categories {
	float: right;
	display: inline;
	width: 250px;
}

#archive-posts {
	clear: both;
	padding-top: 20px;
	background: url('../imgs/divider-dashed.png') repeat-x 0 0;
}

#archive-categories ul {
	margin: 0;
	padding-top: 12px;
	background: url('../imgs/divider-dashed.png') repeat-x 0 0;
}

#archive-categories ul li {
	list-style-type: none;
	font: 1.6em/1.6em Comfortaa, Arial, Helvetica, Geneva, sans-serif;
	text-align: right;
}

#archive-categories li a {
	float: left;
}

.archive-post {
	width: 208px;
	padding: 10px;
	margin-bottom: 20px;
}

.content .archive-post h3 {
	margin: 0;
	font-size: 1.8em;
}

.content .archive-post p {
	margin: 5px 0 0;
}

#search {
	float: left;
	width: 100%;
	padding-top: 12px;
	margin-bottom: 12px;
	background: url('../imgs/divider-dashed.png') repeat-x 0 0;
}

#search #s {
	float: left;
	display: inline;
	width: 640px;
	margin: 2px 0 0;
	padding: 5px;
	font: 12px Arial, Helvetica, Geneva, sans-serif;
	outline: none;
	font: 13px/1.5em Inconsolata, Arial, Helvetica, Geneva, sans-serif;
	color: #666;
	background: #f5f1ec;
	border: none;
	-moz-box-shadow: 0 1px 3px #928e88; 
	-webkit-box-shadow: 0 1px 3px #928e88; 
	box-shadow: 0 1px 3px #928e88; 
	-moz-transition: all 0.2s ease-in; 
	-webkit-transition: all 0.2s ease-in; 
	transition: all 0.2s ease-in; 
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

#search s:focus {
	color: #333;
	background: #fafafa;
	-moz-box-shadow: 0 1px 4px #666; 
	-webkit-box-shadow: 0 1px 4px #666; 
	box-shadow: 0 1px 4px #666; 
}

#search-button {
	float: right;
	display: inline;
	width: auto;
	height: auto;
	padding: 9px 10px 7px;
	font: 12px/1em Nevis, Arial, Helvetica, Geneva, sans-serif;
	text-shadow: 0 1px 1px #fff;
	text-transform: uppercase;
	color: #666;
	background: #fff;
	background: -moz-linear-gradient(top,
		#fff 0%,
	#f5f1ec 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#f5f1ec)); 
	-moz-box-shadow: 0 1px 3px #928e88; 
	-webkit-box-shadow: 0 1px 3px #928e88; 
	box-shadow: 0 1px 3px #928e88; 
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-transition: all 0.2s ease-in; 
	-webkit-transition: all 0.2s ease-in; 
	transition: all 0.2s ease-in; 
	border: none;
	cursor: pointer;
}

#search-button:hover {
	color: #333;
	background: #fff;
	background: -moz-linear-gradient(top,
		#f5f1ec 0%,
	#fff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f1ec), color-stop(100%,#fff)); 
	-moz-box-shadow: 0 1px 4px #666; 
	-webkit-box-shadow: 0 1px 4px #666; 
	box-shadow: 0 1px 4px #666; 
}

/* @end */

/* @group content
================================================================================= */

.content a:link,
.content a:visited,
.content a:active {
	color: #333;
	text-decoration: none;
	-moz-transition: color 0.2s ease-in; 
	-webkit-transition: color 0.2s ease-in; 
	transition: color 0.2s ease-in; 
}

.content a:hover,
.content a:focus {
	color: #000;
	text-decoration: underline;
}

.content .post a:link,
.content .post a:visited,
.content .post a:active {
	color: #333;
	text-decoration: underline;
}

.content .post a:hover,
.content .post a:focus {
	color: #000;
	text-decoration: underline;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	margin: 1.6em 0 1em;
	font-family: Comfortaa, Arial, Helvetica, Geneva, sans-serif;
	color: #222;
	-moz-opacity: .75; 
	opacity: .75;
}

.content h1 {
	margin: 0;
	font: 3.2em/1em Comfortaa, Arial, Helvetica, Geneva, sans-serif;
}

.content .question h1 {
	font: 2.2em/1.3em Comfortaa, Arial, Helvetica, Geneva, sans-serif;
}

.content .quote h1 {
	clear: left;
	font: 4.2em/1.5em BlackJack, Georgia, "Times New Roman", Times, serif;
}

#archive-title h1 {
	margin: -15px 0 20px;
}

.content .question-q,
.content .question-a {
	float: left;
	display: inline;
	font: 66px/1em Nevis, Arial, Helvetica, Geneva, sans-serif;
	-moz-opacity: .25; 
	opacity: .25; 
}

.content .question h1,
.content .question .post {
	float: right;
	display: inline;
	width: 650px;
	margin: 5px 0 0;
}

.single .content .question h1,
.single .content .question .post {
	width: 670px;
}

.content h2 {
	margin: 0 0 5px;
	font-size: 2.6em;
}

.content h3 {
	clear: both;
	font-size: 2.4em;
}

.content h4 {
	font-size: 2.2em;
}

.content h5 {
	font-size: 1.8em;
}

.content h6 {
	font-size: 1.5em;
}

.content p {
	margin-bottom: 1.6em;
	font: 1.5em/1.5em Inconsolata, Arial, Helvetica, Geneva, sans-serif;
}

.content p small {
	filter: alpha(opacity=50);
	opacity: .50;
	zoom: 1;
}

.content ul  {
	margin: 0 0 15px 20px;
}

.content ol {
	margin: 0 0 15px 30px;
}

.content li ul,
.content li ol {
	margin: 5px 0 5px 20px;
}

.content li {
	margin-bottom: 5px;
	font: 1.5em/1.5em Inconsolata, Arial, Helvetica, Geneva, sans-serif;
}

.content li li {
	font-size: 1em;
}

.content ul li {
	list-style-type: square;
}

.content ol li {
	list-style-type: decimal;
}

.content blockquote {
	padding: 0 15px;
	font-style: italic;
}

.content strong,
.content b {
	font-weight: bold;
}

.content em,
.content i {
	font-style: italic;
}

.content hr {
	width: 100%;
	height: 2px;
	margin-bottom: 20px;
	background: transparent url('../imgs/divider-dashed.png') repeat-x 0 0;
	border: 0;
}

.content .wp-caption {
	padding: 10px 0 10px 10px;
	text-align: center;
	-moz-box-shadow: 0 1px 5px #666; 
	-webkit-box-shadow: 0 1px 5px #666; 
	box-shadow: 0 1px 5px #666; 
}

.content .wp-caption img {
	margin-bottom: 7px;
	padding: 0;
	background: transparent;
	border: none;
	-moz-box-shadow: none; 
	-webkit-box-shadow: none; 
	box-shadow: none; 
}

.content .wp-caption a {
	border: none;
}

.content .wp-caption p {
	margin: 0 10px;
	font-size: 1.2em;
}

.content img.alignleft,
.content img.alignright,
.content img.aligncenter,
.content img.alignnone {
	padding: 10px;
	-moz-box-shadow: 0 1px 5px #666; 
	-webkit-box-shadow: 0 1px 5px #666; 
	box-shadow: 0 1px 5px #666; 
	-moz-transition: all 0.2s ease-in; 
	-webkit-transition: all 0.2s ease-in; 
	transition: all 0.2s ease-in;  
}

.content img:hover.alignleft,
.content img:hover.alignright,
.content img:hover.aligncenter { 
	-moz-box-shadow: 0 1px 7px #333; 
	-webkit-box-shadow: 0 1px 7px #333; 
	box-shadow: 0 1px 7px #333; 
}

.content .alignleft {
	float: left;
	display: inline;
	margin: 5px 15px 20px 0;
}

.content img[align $='left'] {
	float: left;
	display: inline;
	margin: 5px 15px 20px 0;
}

.content .alignright {
	float: right;
	display: inline;
	margin: 5px 0 20px 15px;
}

.content img[align $='right'] {
	float: right;
	display: inline;
	margin: 5px 0 20px 15px;
}

.content img.wp-smiley {
	display: inline;
	background: transparent;
	-moz-box-shadow: none; 
	-webkit-box-shadow: none; 
	box-shadow: none;
}

.content .aligncenter {
	margin: 0 auto 20px auto;
}

.content .alignnone {
	margin: 0 0 20px 0;
}

.content .wp-pagenavi {
	clear: left;
	position: relative;
	margin: -10px 0 28px 0;
	font: 1.3em/1em Inconsolata, Arial, Helvetica, Geneva, sans-serif;
	-moz-opacity: .75; 
	opacity: .75;
}

.content .wp-pagenavi a {
	margin: 0;
	padding: 8px 7px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: none;
	text-transform: uppercase;
	color: #726f6c;
	background: #dfdbd7;
	border: none;
	-moz-box-shadow: 0 1px 3px #928e88; 
	-webkit-box-shadow: 0 1px 3px #928e88; 
	box-shadow: 0 1px 3px #928e88; 
}

.content .wp-pagenavi a:hover {
	text-decoration: none;
	color: #646360;
	background: #edeceb;
	-moz-box-shadow: 0 1px 3px #333; 
	-webkit-box-shadow: 0 1px 3px #333; 
	box-shadow: 0 1px 3px #333; 
}

.content .wp-pagenavi span.pages {
	float: right;
	display: inline;
	padding: 0;
	color: #333;
	border: none;
}

.content .wp-pagenavi span.current {
	margin: 0;
	padding: 8px 7px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: none;
	text-transform: uppercase;
	color: #dfdbd7;
	background: #726f6c;
	border: none;
}

.content .wp-pagenavi span.extend {
	display: none;
}

.content .wpcf7 p {
	float: left;
	width: 100%;
	margin: 0 0 15px;
}

.content .wpcf7 input.wpcf7-text,
.content .wpcf7 textarea {
	margin: 5px 0 0;
	padding: 5px;
	font: 12px Arial, Helvetica, Geneva, sans-serif;
	outline: none;
	font: 13px/1.5em Inconsolata, Arial, Helvetica, Geneva, sans-serif;
	color: #666;
	background: #f5f1ec;
	border: none;
	-moz-box-shadow: 0 1px 3px #928e88; 
	-webkit-box-shadow: 0 1px 3px #928e88; 
	box-shadow: 0 1px 3px #928e88; 
	-moz-transition: all 0.2s ease-in; 
	-webkit-transition: all 0.2s ease-in; 
	transition: all 0.2s ease-in; 
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.content .wpcf7 input.wpcf7-text:focus,
.content .wpcf7 textarea:focus {
	color: #333;
	background: #fafafa;
	-moz-box-shadow: 0 1px 4px #666; 
	-webkit-box-shadow: 0 1px 4px #666; 
	box-shadow: 0 1px 4px #666; 
}

.content .wpcf7 textarea {
	width: 544px;
}

.content .wpcf7-submit {
	width: auto;
	height: auto;
	padding: 9px 10px 8px;
	font: 12px/1em Nevis, Arial, Helvetica, Geneva, sans-serif;
	text-shadow: 0 1px 1px #fff;
	text-transform: uppercase;
	color: #666;
	background: #fff;
	background: -moz-linear-gradient(top,
		#fff 0%,
	#f5f1ec 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#f5f1ec)); 
	-moz-box-shadow: 0 1px 3px #928e88; 
	-webkit-box-shadow: 0 1px 3px #928e88; 
	box-shadow: 0 1px 3px #928e88; 
	-moz-transition: all 0.2s ease-in; 
	-webkit-transition: all 0.2s ease-in; 
	transition: all 0.2s ease-in; 
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: none;
	cursor: pointer;
}

.content .wpcf7-submit:hover {
	color: #333;
	background: #fff;
	background: -moz-linear-gradient(top,
		#f5f1ec 0%,
	#fff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f1ec), color-stop(100%,#fff)); 
	-moz-box-shadow: 0 1px 4px #666; 
	-webkit-box-shadow: 0 1px 4px #666; 
	box-shadow: 0 1px 4px #666; 
}

.content .wpcf7-response-output {
	clear: both;
	margin: 0 0 20px;
	padding: 10px;
	font-size: 1.3em;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

/* @end */

/* @group comments
================================================================================= */

#comments {
	margin: 0;
}

#comments .inner {
	padding-top: 30px;
}

#comments h3 {
	margin: 0 0 15px;
	padding-bottom: 12px;
	font-size: 2.6em;
	line-height: 1em;
	background: url('../imgs/divider-dashed.png') repeat-x 0 100%;
}

#comments ol.commentlist {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
}

#comments .commentlist li {
	float: left;
	position: relative;
	margin: 0;
	padding: 0;
	width: 744px;
	list-style: none;
	font-size: 12px;
}

#comments .commentlist li.thread-even {
	background: url('../imgs/divider-dashed.png') repeat-x 0 100%;
}

#comments .commentlist li.thread-odd {
	background: url('../imgs/divider-dashed.png') repeat-x 0 100%;
}

#comments .commentlist .children li {
	padding: 0 0 0 20px;
	background: url('../imgs/comments-thread.png') no-repeat 0 -10px;
}

#comments .commentlist li.depth-1 {
	margin: 0 0 15px;
	width: 744px;
}

#comments .commentlist li.depth-2 {
	width: 724px;
}

#comments .commentlist li.depth-3 {
	width: 704px;
}

#comments .commentlist li.depth-4 {
	width: 684px;
}

#comments .commentlist li.depth-5 {
	width: 664px;
}

#comments .commentlist li.depth-6 {
	width: 644px;
}

#comments .commentlist li.depth-7 {
	width: 624px;
}

#comments .commentlist li.depth-8 {
	width: 604px;
}

#comments .commentlist li.depth-9 {
	width: 584px;
}

#comments .commentlist li.depth-10 {
	width: 564px;
}

#comments .commentlist ul {
	margin: 0;
	padding: 0;
}

#comments .commentlist li ul li {
	margin: 0;
}

.commentlist blockquote p {
	color: #000;
}

.commentlist #respond p {
	font-size: 12px;
}

.children {
	padding: 0;
}

#comments .avatar {
	float: left;
	display: inline;
	margin: 0 10px 10px 0;
	padding: 4px;
	background: #f5f1ec;
	-moz-box-shadow: 0 1px 3px #928e88; 
	-webkit-box-shadow: 0 1px 3px #928e88; 
	box-shadow: 0 1px 3px #928e88; 
}

.commentlist p {
	clear: left;
	margin: 10px 0;
	font-size: 13px;
	line-height: 1.5em;
}

#commentform p {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
}

#commentform p small {
	font-size: 11px;
	line-height: 1.3em;
}

.nocomments {
	margin: 0;
	padding: 0;
}

.commentmetadata {
	margin: -15px 0 0;
	display: block;
	font-size: 1em;
}

#comments .comment-author cite {
	display: block;
	font-size: 1.1em;
	font-style: normal;
	font-weight: bold;
	padding: 3px 0 0;
}

#comments .comment-author .says {
	display: none;
}

#comments .comment-author {
	float: left;
	width: 100%;
	color: #333;
	font-size: 13px;
	font-weight: bold;
}

#comments .comment-author a {
	color: #333;
}

#comments .commentmetadata {
	position: absolute;
	top: 35px;
	left: 50px;
}

#comments .children .commentmetadata {
	left: 70px;
}

#comments .commentmetadata a {
	color: #444;
}

#comments .comment-author a:hover,
#comments .commentmetadata a:hover {
	color: #111;
}

.comment-body {
	float: left;
	width: 100%;
	margin-bottom: 5px;
}

#comment-form {
	clear: both;
	float: left;
	width: 100%;
	margin-bottom: 10px;
	padding: 0;
}

#comment-form h3 {
	margin: 0 0 15px;
}

#commentform {
	padding: 0 0 25px;
}

#commentform p {
	font-size: 1.3em;
}

.ie #commentform p {
	margin-bottom: 10px;
}

#commentform label {
	text-align: left;
	margin-left: 10px;
	color: #333;
}

#commentform label small {
	font-size: 12px;
	font-weight: bold;
}

#commentform label small span {
	color: #333;
	font-size: 11px;
	font-weight: normal;
}

#commentform input,
#commentform textarea {
	margin: 0;
	padding: 5px;
	font: 12px Arial, Helvetica, Geneva, sans-serif;
	outline: none;
	font: 13px/1.5em Inconsolata, Arial, Helvetica, Geneva, sans-serif;
	color: #666;
	background: #f5f1ec;
	border: none;
	-moz-box-shadow: 0 1px 3px #928e88; 
	-webkit-box-shadow: 0 1px 3px #928e88; 
	box-shadow: 0 1px 3px #928e88; 
	-moz-transition: all 0.2s ease-in; 
	-webkit-transition: all 0.2s ease-in; 
	transition: all 0.2s ease-in; 
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

#commentform input:focus,
#commentform textarea:focus {
	color: #333;
	background: #fafafa;
	-moz-box-shadow: 0 1px 4px #666; 
	-webkit-box-shadow: 0 1px 4px #666; 
	box-shadow: 0 1px 4px #666; 
}

#commentform input#author,
#commentform input#email,
#commentform input#url {
	float: left;
	display: inline;
	margin-bottom: 12px;
	width: 250px;
}

.commentlist #commentform input#author,
.commentlist #commentform input#email,
.commentlist #commentform input#url {
	width: 180px;
}

#commentform textarea {
	width: 734px;
}

.commentlist #respond {
	padding: 0;
}

.commentlist #commentform textarea,
.ie .commentlist #commentform textarea {
	width: 470px;
}

#commentform p.subscribe-to-comments {
	padding: 5px 0 10px;
	float: left;
	display: inline;
}

.commentlist #commentform p.subscribe-to-comments {
	width: 100%;
}

#commentform p.subscribe-to-comments input {
	float: left;
	display: inline;
	height: auto;
	margin: 2px 5px 0 0;
	padding: 0;
	background: transparent;
	border: 0;
}

#commentform p.subscribe-to-comments label {
	float: none;
	width: 255px;
	margin: 0;
	padding: 0;
}

#commentform #submit {
	width: auto;
	height: auto;
	padding: 9px 10px 8px;
	font: 12px/1em Nevis, Arial, Helvetica, Geneva, sans-serif;
	text-shadow: 0 1px 1px #fff;
	text-transform: uppercase;
	color: #666;
	background: #fff;
	background: -moz-linear-gradient(top,
		#fff 0%,
	#f5f1ec 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#f5f1ec)); 
	-moz-box-shadow: 0 1px 3px #928e88; 
	-webkit-box-shadow: 0 1px 3px #928e88; 
	box-shadow: 0 1px 3px #928e88; 
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-transition: all 0.2s ease-in; 
	-webkit-transition: all 0.2s ease-in; 
	transition: all 0.2s ease-in; 
	border: none;
	cursor: pointer;
}

#commentform #submit:hover {
	color: #333;
	background: #fff;
	background: -moz-linear-gradient(top,
		#f5f1ec 0%,
	#fff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f1ec), color-stop(100%,#fff)); 
	-moz-box-shadow: 0 1px 4px #666; 
	-webkit-box-shadow: 0 1px 4px #666; 
	box-shadow: 0 1px 4px #666; 
}

#comments .reply {
	position: absolute;
	top: 0;
	right: 0;
	width: 37px;
	height: 16px;
	overflow: hidden;
}

#comments a.comment-reply-link {
	float: right;
	display: block;
	width: 16px;
	height: 0;
	padding: 16px 0 0 0;
	background: url("../imgs/comments-reply.png") no-repeat 0 0;
	border-bottom: none;
}

.ie #comments a.comment-reply-link {
	height: 16px;
}

#comments .cancel-comment-reply {
	margin-bottom: 5px;
}

#comments .cancel-comment-reply a {
	font-size: 10px;
	font-weight: bold;
	line-height: normal;
	text-transform: uppercase;
}

/* @end */

/* @group weddings
================================================================================= */

#packages {
	float: left;
	width: 100%;
	margin-bottom: 30px;
	padding-top: 45px;
}

.package {
	float: left;
	width: 33.3333333%; /* 248 / 744 */
	height: 400px;
	padding: 30px 0;
	text-align: center;
	margin-bottom: 2.688172%;
	background: url('../imgs/bg.jpg') repeat 0 0;
	-moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .15);
	box-shadow: 0 0 0 1px rgba(0, 0, 0, .15);
}

.package.package-highlight {
	position: relative;
	margin-top: -30px;
	padding: 60px 0;
	background: url('../imgs/header-bg.png') no-repeat 50% 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.content .package ul {
	margin: 0 10% 30px;
	padding-top: 30px;
	border-top: 1px solid rgba(255, 255, 255, .25);
}

.content .package ul li {
	margin: 0 0 12px;
	list-style-type: none;
	line-height: 1.3em;
	filter: alpha(opacity=75);
	opacity: .75;
	zoom: 1;
}

.content .package h2 {
	margin: 0 0 15px;
	font-size: 4em;
	line-height: 1em;
	color: #b2847d;
}

.content .package h3 {
	margin: 0 10%;
	padding-bottom: 30px;
	font-size: 1.8em;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(0, 0, 0, .15);
	filter: alpha(opacity=50);
	opacity: .50;
	zoom: 1;
}

.content a.button:link,
.content a.button:visited,
.content a.button:active {
	display: inline-block;
	margin-bottom: 30px;
	padding: 15px 20px;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: bold;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, .25);
	color: rgba(255, 255, 255, .75);
	background: #9e807d;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .15);
	-webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .15);
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .15);
	-moz-transition: color 0.2s ease-out, margin 0.2s ease-out, padding 0.2s ease-out, -moz-border-radius 0.2s ease-out, -moz-box-shadow 0.2s ease-out;
	-webkit-transition: color 0.2s ease-out, margin 0.2s ease-out, padding 0.2s ease-out, -webkit-border-radius 0.2s ease-out, -webkit-box-shadow 0.2s ease-out;
	transition: color 0.2s ease-out, margin 0.2s ease-out, padding 0.2s ease-out, border-radius 0.2s ease-out, box-shadow 0.2s ease-out;
}

.content a.button:hover,
.content a.button:focus {
	margin: -5px 0 25px;
	padding: 20px 25px;
	color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .15), 0 0 10px rgba(0, 0, 0, .35);
	-webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .15), 0 0 10px rgba(0, 0, 0, .35);
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .15), 0 0 10px rgba(0, 0, 0, .35);
}

.content .testimonial {
	float: left;
	width: 100%;
}

.content .testimonial .tnail {
	float: left;
	margin: 0 20px 20px 0;
}

.content .testimonial:nth-of-type(even) .tnail {
	float: right;
	margin: 0 0 20px 20px;
}

.content .testimonial img {
	padding: 0 !important;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;
}

.content .testimonial p {
	margin: 10px 0;
	font-size: 1.7em;
	font-style: italic;
}

.content .testimonial h6 {
	margin: 0 0 20px;
	font-size: 1.6em;
	filter: alpha(opacity=50);
	opacity: .50;
	zoom: 1;
}

/* @end */

/* @group footer
================================================================================= */

footer .inner {
	padding-top: 30px;
	padding-bottom: 30px;
	text-shadow: 0 1px 1px #d5d2cd;
	-moz-opacity: .60; 
	opacity: .60; 
}

#logo-footer {
	float: left;
	display: inline;
	font: 36px/1em Nevis, Arial, Helvetica, Geneva, sans-serif;
	text-transform: uppercase;
}

#logo-footer strong {
	float: left;
	display: inline;
}

#logo-footer span {
	float: left;
	display: inline;
	margin: 0 7px;
	font-size: 18px;
	-moz-opacity: .85; 
	opacity: .85; 
}

#logo-footer a {
	float: left;
	display: block;
	color: #333;
	text-decoration: none;
	-moz-transition: color 0.2s ease-in; 
	-webkit-transition: color 0.2s ease-in; 
	transition: color 0.2s ease-in; 
}

#logo-footer a:hover,
#logo-footer a:focus {
	color: #000;
}

footer nav {
	float: right;
	display: inline;
	width: 380px;
	font: 1.3em/1.5em Inconsolata, Arial, Helvetica, Geneva, sans-serif;
	text-align: right;
}

footer nav ul li {
	display: inline;
	margin: 0;
	padding: 0 7px 0 0;
	border-right: 1px solid #86827d;
}

footer nav ul li:last-child {
	margin: 0;
	padding: 0;
	border-right: 0;
}

footer nav ul li a {
	color: #333;
	font-weight: bold;
	-moz-transition: color 0.2s ease-in; 
	-webkit-transition: color 0.2s ease-in; 
	transition: color 0.2s ease-in; 
}

footer nav ul li a:hover, footer nav ul li a:focus {
	color: #000;
}

/* @end */

/* @group fixes */

.ir {
	display: block;
	text-indent: -999em;
	overflow: hidden;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
}

.hidden {
	display: none;
	visibility: hidden;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}

.clearfix:after {
	clear: both;
	zoom: 1; 
}

/* @end */