{% extends "_layout.html" %} 

{% block content %}

    <!-- My Self -->
    {% if currentPage == 1 %}
    {% include "Home/myself.html"%}
    {% endif %}
    <!-- End my self -->

    <!-- wrapper -->
    {% for id, title, article, color, time, location, content, photos, heros in msgs%}

    {% if article == "fpb" %}
    {% import 'Home/article_fpb.html' as cpf %} 
    {{ cpf.input(id, title, article, color, time, location, content, photos, heros) }}

    {% elif article == "hpb" %}
    {% import 'Home/article_hpb.html' as cl %} 
    {{ cl.input(id, title, article, color,  time, location, content, photos, heros)}}

    {% elif article == "content landscape full" %}
    {% import 'Home/content_landscape_full.html' as clf %} 
    {{ clf.input(id, title, article, color,  time, location, content, photos, heros)}}

    {% elif article == "content landscape full blog" %}
    {% import 'Home/content_landscape_full_blog.html' as clfb %} 
    {{ clfb.input(id, title, article, color, time, location, content, photos, heros)}}


    {% endif%}

    {% endfor %}
    <!-- End wrapper -->
    <article class="row">
        <div class="divider-top">
            &nbsp;
        </div>
        <div class="inner col-md-6 col-md-offset-2">
            <nav class="text-left">
                <div id="paginator"></div>
            </nav>
        </div>
        <div class="divider-bottom">&nbsp;</div>
    </article>

{% endblock %}

{% block js %}

<script>
var $container = $('.article-photos');

$container.imagesLoaded( function(){
  $container.masonry({
    itemSelector : '.item-box'
  });
});

$(".cboxElement").colorbox({
  transition:"elastic",
  scrolling:false,
  opacity:0.2,
  maxHeight:"680px"
});  


$('.inner img').colorbox();

var options = {
    currentPage: {{currentPage}},
    totalPages: {{pageCount}},
    numberOfPages: 10,
    itemTexts: function (type, page, current) {
      switch (type) {
      case "first":
      return "第一页";
      case "prev":
      return "<";
      case "next":
      return ">";
      case "last":
      return "最后页";
      case "page":
      return  page;
      }               
    },
    pageUrl: function(type, page, current){
                return "{{pageurl}}"+page;
            }}

$('#paginator').bootstrapPaginator(options);
</script>

{% endblock %}
