{% extends "_layout.html" %} 



{% block content %}
{% for id, title, article, color, time, location, content, photos, heros in mess%}
<article class="paper row">
    <a name="gallery-{{id}}" ></a>
    <div class="divider-top">
        &nbsp;
    </div> 
    <div class="inner col-md-offset-2 col-md-6">
        <div class="row">
            <section class="col-md-12"> 
                    <header> 
                        <h2><a href="/{{time|sdata}}/{{id}}">{{title}}</a></h2> 
                    </header> 

                    <div class="clearfix"></div> 

                    <footer> 
                            <span class="glyphicon glyphicon-time"></span><time datetime="{{time}}"><a href="#{{id}}"><span>  {{time}}</span></a></time> 
                            <span class="glyphicon glyphicon-globe"></span><a href="#" title="{{location}}">  {{location}}</a>
                    </footer> 

                    <div class="clearfix"></div> 
                    
                    <div class="post"> 
                    <p>
                        {{content}}
                    </p>
                    </div> 
            </section>
        </div>

        <div class="row">
            <div class="col-md-12 article-photos">
                    {%for href, src, alt in heros%}
                    <div class="item-box"> 
                        <a href="{{href}}" rel="gallery-{{id}}" class="cboxElement">
                        <img src="{{href}}" alt="{{alt}}" /></a> 
                    </div>
                    {%endfor%} 

                    {%for href, srcs, alts in photos%}
                    <div class="item-box"> 
                    <a href="{{href}}" rel="gallery-{{id}}" class="cboxElement">
                    <img src="{{href}}" alt="{{alt}}" /></a> 
                    </div> 
                    {%endfor%}
            </div> 
        </div>
        <!-- /landscape photo --> 
        <!-- question --> 
        <div class="clearfix"></div>
    

        <!-- 多说评论框 start -->
        <div class="inner ds-thread" data-thread-key="{{id}}" data-title="{{title}}" data-url="/{{time|sdata}}/{{id}}"></div>
        <!-- 多说评论框 end -->
    </div>
</article>
{%endfor%} 
{% endblock %}

{% block js %}
<script type="text/javascript">
$(".cboxElement").colorbox({
  transition:"elastic",
  scrolling:false,
  opacity:0.2,
  maxHeight:"680px"
});  
$('.inner img').colorbox();

var duoshuoQuery = {short_name:"naalnalbum"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>

{% endblock %}
