<div class="divider-top">
    &nbsp;
</div>
<div class="col-md-6 col-md-offset-2">
    <div id="logo-footer">
        <a href="http://photo.naaln.com">
            <strong>Liam</strong>
            <span>Why</span>
            <strong>Photo</strong>
        </a>
    </div>
    <nav>
        <div>
            <ul>
                <li><a href="http://www.naaln.com">网站</a>
                </li>
                <li><a href="http://blog.naaln.com">博客</a>
                </li>
                <li><a href="http://photo.naaln.com">照片</a>
                </li>
            </ul>
        </div>
        <p>&copy; 2013 Why Liam. All Rights Reserved.</p>
    </nav>
    <div class="clearfix">
        &nbsp;
    </div>
</div>
<div class="divider-bottom">&nbsp;</div>

<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.colorbox.min.js"></script>
<script src="/static/js/bootstrap-paginator.js"></script>
<script src="/static/js/imagesloaded.pkgd.min.js"></script>
<script src="/static/js/masonry.pkgd.min.js"></script>
