body {
    background: url('../imgs/bg.jpg') repeat 0 0;
    color: #333;
}

article,
.archive-post {
    background: url('../imgs/pattern.png') repeat 0 0;
}

.divider-top {
    background: url('../imgs/divider@2x.png') repeat-x 0 -1px;
    background-size: 1px 2px;
    min-height: 30px;
}

.divider-bottom {
    background-size: 1px 2px;
    min-height: 30px;
}

#logo-footer {
    float: left;
    display: inline;
    font-size: 38px;
    text-transform: uppercase;
}

footer nav {
    float: right;
    display: inline;
    font-size: 13px;
    text-align: right;
}

ol,
ul {
    list-style: none;
}

footer nav ul li {
    display: inline;
    margin: 0;
    padding: 0 7px 0 0;
    border-right: 1px solid #86827d;
}

.pagination ul {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    opacity: .75;
}

.pagination ul > li {
    display: inline;
    margin: 3px;
    padding: 8px 7px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    color: #726f6c;
    background: #dfdbd7;
    border: none;
    -moz-box-shadow: 0 1px 3px #928e88;
    -webkit-box-shadow: 0 1px 3px #928e88;
    box-shadow: 0 1px 3px #928e88;
}

header[role="banner"] {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

#header-top {
    position: fixed;
    width: 960px;
    height: 710px;
    top: 0;
    margin-left: 780px;
    background: url('../imgs/header-top.png') no-repeat 0 0;
    z-index: 999;
}

#header-bottom {
    position: fixed;
    width: 960px;
    height: 100%;
    top: 610px;
    margin-left: 780px;
    background: url('../imgs/header-bg.png') no-repeat 0 0;
    z-index: 1;
}

#logo {
    width: 130px;
    height: 355px;
    margin: 40px 0 0 50px;
    overflow: hidden;
}

#logo a {
    display: block;
    width: 355px;
    height: 0;
    padding-top: 355px;
}

#header-search {
    position: fixed;
    width: 960px;
    height: 710px;
    top: 450px;
    margin-left: 820px;
    z-index: 999;
    border:0px;
    background-color:transparent;
}

#header-search input
{
    border:0px;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}
#header-search input:focus {
    border-bottom: 1px solid black;
    background-color:transparent;
}