
section a:link, section a:visited, section a:active {
    color: #333;
    text-decoration: none;
    -moz-transition: color 0.2s ease-in;
    -webkit-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in;
}
section .post {
    background: url('../imgs/divider-dashed@2x.png') repeat-x 0 0;
    background-size: 6px 2px;
    padding-top: 5px;
}
article.home img {
    background: #f2f8f9;
    padding: 10px;
    width: 100%;
    -webkit-box-shadow: 0 1px 5px #666;
    box-shadow: 0 1px 5px #666;
    -moz-transition: background 0.2s ease-in;
    -webkit-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in;
}
article.home .item-box {
    max-width: 161px;
    height: auto;
    margin: 0px 9px 12px 0px;
}
article.home .item-box img {
    padding: 5px;
}
/*article color*/

article.s-d-yellow, .archive-post.s-d-yellow {
    text-shadow: 0 1px 1px rgba(42,42,21, 0.3);
    background-color: #cccc99;
}
article.g-orange, .archive-post.g-orange {
    text-shadow: 0 1px 1px rgba(40, 33, 28, 0.3);
    background-color: #d2c8bf;
}
article.v-s-orange, .archive-post.v-s-orange {
    text-shadow: 0 1px 1px rgba(53, 38, 16, 0.3);

    background-color: #e1c69e;
}
article.g-magenta, .archive-post.g-magenta {
    text-shadow: 0 1px 1px rgba(35, 25, 34, 0.3);

    background-color: #d6c7d5;
}
article.g-yellow, .archive-post.g-yellow {
    text-shadow: 0 1px 1px rgba(35, 25, 34, 0.3);

    background-color: #c7c7bd;
}
article.l-gray, .archive-post.l-gray {
    text-shadow: 0 1px 1px rgba(31, 31, 31, 0.3);

    background-color: #c6c6c6;
}
article.g-violet, .archive-post.g-violet {
    text-shadow: 0 1px 1px rgba(35, 33, 39, 0.3);

    background-color: #c9c6cf;
}
article.g-red, .archive-post.g-red {
    text-shadow: 0 1px 1px rgba(35, 33, 33, 0.3);

    background-color: #cac7c7;
}
article.g-pink, .archive-post.g-pink {
    text-shadow: 0 1px 1px rgba(42, 31, 35, 0.3);

    background-color: #d3c4c9;
}
/*helf picture blog*/

article.hpb section {
    display: inline;
    margin-top: -20px;
}
/*full picture blog*/

article.fpb section {
    display: inline;
    margin-bottom: 15px;
    margin-top: -20px;
}


a img:link, a img:hover {
    background: transparent;
}
