{% extends "_layout.html" %} 

{% block content %}

    <article class="row">
        <div class="divider-top">
            &nbsp;
        </div>
        <div class="inner col-md-5 col-md-offset-2">
          <form class="form-horizontal row" action="/newpost" method="POST">
            <div class="col-md-8">
              <div class="form-group">
                  title:<input name="title" placeholder="title" class="form-control" />
              </div>
              <div class="form-group">
              <textarea name="content" class="form-control" rows="10"></textarea>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                  date:<input name="date" type="date" placeholder="date" class="form-control" />
              </div>
              <div class="form-group">
                  local:<input name="local" type="text" placeholder="local" class="form-control" />
              </div>
              <div class="form-group">
                  tags:<input name="tags" type="text" placeholder="tags" class="form-control" />
              </div>

            </div>
            
              <div class="form-group text-center">
                  <button type="submit" class="btn btn-default">Sign in</button>
              </div>
          </form>
        </div>
        <div class="divider-bottom">
          &nbsp;
        </div>
    </article>

{% endblock %}

{% block js %}

{% endblock %}
