<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" /> 
<style type="text/css"></style> 
<meta name="description" content="Pictographs of Why WhyLiam's life." /> 
<meta name="author" content="Liam" /> 
<link rel="stylesheet" href="{{url_for('static', filename='css/screen.css')}}" /> 
<link rel="stylesheet" href="{{url_for('static', filename='css/mobile.css')}}" /> 
<link rel="stylesheet" href="{{url_for('static', filename='css/colorbox.css')}}" /> 
<link rel="shortcut icon" href="{{url_for('static', filename='imgs/logo_y.png')}}" /> 
<link rel="apple-touch-icon-precomposed" href="{{url_for('static', filename='imgs/apple-touch-icon-precomposed.png')}}" /> 
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{url_for('static', filename='imgs/apple-touch-icon-72x72-precomposed.png')}}" /> 
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{url_for('static', filename='imgs/apple-touch-icon-114x114-precomposed.png')}}" /> 
<link rel="stylesheet" id="contact-form-7-css" href="{{url_for('static', filename='css/styles.css')}}" type="text/css" media="all" /> 
<link rel="stylesheet" id="wp-pagenavi-css" href="{{url_for('static', filename='css/pagenavi-css.css')}}" type="text/css" media="all" /> 
<script type="text/javascript" async="" src="{{url_for('static', filename='js/ga.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.js')}}"></script> 
<script src="{{url_for('static', filename='js/css-browser-selector.js')}}"></script> 
<script src="{{url_for('static', filename='js/modernizr.js')}}"></script> 
<script src="{{url_for('static', filename='js/mypage.js')}}"></script> 