{% macro input(id, title, article, time, location, content) -%} 
<article class="{{article}}"> 
    <div class="divider-top">
     &nbsp;
    </div> 
    <div class="inner"> 
     <!-- portrait photo --> 
     <div class="hero"> 
      <a href="http://naalnalbum-photo.stor.sinaapp.com/travel/13.07.24Paris/8.jpg" rel="gallery-30" class="cboxElement"><img src="http://naalnalbum-photo.stor.sinaapp.com/travel/13.07.24Paris/smail8.jpg" alt="" /></a> 
     </div> 
     <section> 
     <header> 
       <h1><a href="#">{{title}}</a></h1> 
      </header> 
      <footer> 
          <time datetime="{{time}}"><a href="#"><span>{{time}}</span></a></time> 
       <div class="comments-link">
        <a href="#" title="Paris · France">{{location}}</a>
       </div> 
      </footer> 
      <div class="clearfix"></div> 
      <div class="post"> 
       <p>{{content}}</p> 
      </div> 
     </section> 
     <div class="thumbnails full"> 
     	<div class="thumbnail"> 
     		<a href="http://naalnalbum-photo.stor.sinaapp.com/travel/13.07.24Paris/1.jpg" rel="gallery-30" class="cboxElement"><img src="http://naalnalbum-photo.stor.sinaapp.com/travel/13.07.24Paris/smail1.jpg" alt="" /></a> 
     	</div> 
     	<div class="thumbnail"> 
     		<a href="http://naalnalbum-photo.stor.sinaapp.com/travel/13.07.24Paris/2.jpg" rel="gallery-30" class="cboxElement"><img src="http://naalnalbum-photo.stor.sinaapp.com/travel/13.07.24Paris/smail2.jpg" alt="" /></a> 
     	</div> 
     	<div class="thumbnail"> 
     		<a href="http://naalnalbum-photo.stor.sinaapp.com/travel/13.07.24Paris/3.jpg" rel="gallery-30" class="cboxElement"><img src="http://naalnalbum-photo.stor.sinaapp.com/travel/13.07.24Paris/smail3.jpg" alt="" /></a> 
     	</div> 
     	<div class="thumbnail"> 
     		<a href="http://naalnalbum-photo.stor.sinaapp.com/travel/13.07.24Paris/4.jpg" rel="gallery-30" class="cboxElement"><img src="http://naalnalbum-photo.stor.sinaapp.com/travel/13.07.24Paris/smail4.jpg" alt="" /></a> 
     	</div> 
     	<div class="thumbnail"> 
     		<a href="http://naalnalbum-photo.stor.sinaapp.com/travel/13.07.24Paris/5.jpg" rel="gallery-30" class="cboxElement"><img src="http://naalnalbum-photo.stor.sinaapp.com/travel/13.07.24Paris/smail5.jpg" alt="" /></a> 
     	</div> 
     	<div class="thumbnail"> 
     		<a href="http://naalnalbum-photo.stor.sinaapp.com/travel/13.07.24Paris/6.jpg" rel="gallery-30" class="cboxElement"><img src="http://naalnalbum-photo.stor.sinaapp.com/travel/13.07.24Paris/smail6.jpg" alt="" /></a> 
     	</div> 
     	<div class="thumbnail"> 
     		<a href="http://naalnalbum-photo.stor.sinaapp.com/travel/13.07.24Paris/7.jpg" rel="gallery-30" class="cboxElement"><img src="http://naalnalbum-photo.stor.sinaapp.com/travel/13.07.24Paris/smail7.jpg" alt="" /></a> 
     	</div> 
     	<div class="thumbnail"> 
     		<a href="http://naalnalbum-photo.stor.sinaapp.com/travel/13.07.24Paris/9.jpg" rel="gallery-30" class="cboxElement"><img src="http://naalnalbum-photo.stor.sinaapp.com/travel/13.07.24Paris/smail9.jpg" alt="" /></a> 
     	</div> 
     	<div class="thumbnail"> 
     		<a href="http://naalnalbum-photo.stor.sinaapp.com/travel/13.07.24Paris/10.jpg" rel="gallery-30" class="cboxElement"><img src="http://naalnalbum-photo.stor.sinaapp.com/travel/13.07.24Paris/smail10.jpg" alt="" /></a> 
     	</div> 
     	<div class="thumbnail"> 
     		<a href="http://naalnalbum-photo.stor.sinaapp.com/travel/13.07.24Paris/11.jpg" rel="gallery-30" class="cboxElement"><img src="http://naalnalbum-photo.stor.sinaapp.com/travel/13.07.24Paris/smail11.jpg" alt="" /></a> 
     	</div> 
     	<div class="thumbnail"> 
     		<a href="http://naalnalbum-photo.stor.sinaapp.com/travel/13.07.24Paris/12.jpg" rel="gallery-30" class="cboxElement"><img src="http://naalnalbum-photo.stor.sinaapp.com/travel/13.07.24Paris/smail12.jpg" alt="" /></a> 
     	</div> 
     	<div class="thumbnail"> 
     		<a href="http://naalnalbum-photo.stor.sinaapp.com/travel/13.07.24Paris/13.jpg" rel="gallery-30" class="cboxElement"><img src="http://naalnalbum-photo.stor.sinaapp.com/travel/13.07.24Paris/smail13.jpg" alt="" /></a> 
     	</div> 
     	<div class="thumbnail"> 
     		<a href="http://naalnalbum-photo.stor.sinaapp.com/travel/13.07.24Paris/14.jpg" rel="gallery-30" class="cboxElement"><img src="http://naalnalbum-photo.stor.sinaapp.com/travel/13.07.24Paris/smail14.jpg" alt="" /></a> 
     	</div> 
     	<div class="thumbnail"> 
     		<a href="http://naalnalbum-photo.stor.sinaapp.com/travel/13.07.24Paris/15.jpg" rel="gallery-30" class="cboxElement"><img src="http://naalnalbum-photo.stor.sinaapp.com/travel/13.07.24Paris/smail15.jpg" alt="" /></a> 
     	</div> 
     	<div class="thumbnail"> 
     		<a href="http://naalnalbum-photo.stor.sinaapp.com/travel/13.07.24Paris/16.jpg" rel="gallery-30" class="cboxElement"><img src="http://naalnalbum-photo.stor.sinaapp.com/travel/13.07.24Paris/smail16.jpg" alt="" /></a> 
     	</div> 

     </div> 
     <!-- /portrait photo --> 
     <!-- landscape photo --> 
     <div class="clearfix"></div> 
    </div> 
    <div class="divider-bottom">
     &nbsp;
    </div> 
   </article>
{%- endmacro %} 
